* {
    margin: 0;
    padding: 0;
}

.weather-app {
    height: 100vh;
    background-image: url(../../assets/images/day/cloudy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    transition: 500ms;
    opacity: 1;
}

.weather-app::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}


@media (max-width: 1099px) {
    .weather-app {
        height: 118vh;
        width: 100%;
    }

    .weather-details {
        position: absolute;
        left: 10%;
        top: 90%;
        width: 300px;
    }
}