.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contactos {
    margin-right: 70px;
    display: flex;
    flex-direction: column;
}

footer {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ed51c2;
}

li {
    list-style: none;
}

.ubicacion {
    display: flex;
    flex-direction: column;
}

.horarios {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
}